
entrypoint = "README.md"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Stable Backend Server"

[[workflows.workflow]]
name = "Dev Server"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node clean-server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_API_URL=https://2baba274-1c74-4233-8964-1b11f1b566fa-00-205iex35lh4nb.kirk.replit.dev/api EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --clear"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Backend Server"
author = 42127692
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node monitor.js"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 42127692
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node monitor.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --tunnel"

[[workflows.workflow]]
name = "Working Backend"
author = 42127692
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node simple-server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --tunnel"

[[workflows.workflow]]
name = "Stable Backend Server"
author = 42127692
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node simple-server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_API_URL=https://4311622a-238a-4013-b1eb-c601507a6400-00-3l5qvyow6auc.kirk.replit.dev:5000/api EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --clear"

[[workflows.workflow]]
name = "Quick Backend"
author = 42127692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node simple-server.js"

[[workflows.workflow]]
name = "Test Server"
author = 42127692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node simple-server.js"

[[workflows.workflow]]
name = "Backend Only"
author = 42127692
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node clean-server.js"

[[workflows.workflow]]
name = "Clean Dev Server"
author = 42127692
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node clean-server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_API_URL=https://2baba274-1c74-4233-8964-1b11f1b566fa-00-205iex35lh4nb.kirk.replit.dev/api EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start --clear"

[[workflows.workflow]]
name = "Fixed Preview Server"
author = 42127692
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node simple-server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_API_URL=https://4311622a-238a-4013-b1eb-c601507a6400-00-3l5qvyow6auc.kirk.replit.dev:5000/api npx expo start --clear"

[deployment]
run = ["sh", "-c", "cd server && node monitor.js"]
